var HDWalletProvider = require("truffle-hdwallet-provider");
var mnemonic = "{{ONE TWO THREE ... TWELVE}}"

module.exports = {
    networks: {
        development: {
            host: "localhost",
            port: 8545,
            network_id: "*", // Match any network id
        },
        test: {
            host: "localhost",
            port: 8545,
            network_id: "*" // Match any network id
        },
        ropsten: {
            network_id: 3,
            provider: function () {
                return new HDWalletProvider(mnemonic, `https://ropsten.infura.io/${infuraToken}`);
            },
            gas: 4700000
        }
    },
    solc: {
        optimizer: {
            enabled: true,
            runs: 200
        }
    }
};
